@import '../../../font.scss';
@import '../../../color.scss';


:host {
  position: static;
  flex: 1;
  background-color: black;

  @keyframes slideOutFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .login-container {
    display: flex;
    background-color: transparent;
    padding: 0px 24px;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 1000px;
  }

  .form-container {
    animation: 1s ease-out 0s 1 slideOutFromRight;
    transition: transform 0.3s ease-out;
    background-color: white;
    flex-basis: 300px;
    border-radius: 10px;
    position: relative;
    height: 500px;
    position: relative;
    app-loading-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    .action {
      margin-top: 30px;
      justify-content: space-around;
      .register, .forgot-password {
        font-size: $font-medium;
        font-weight: $font-weight-medium;
        color: $color-base-15;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .submit {
      margin-top: 40px;
    }

    .form-login {
      /* border: 1px black solid; */
      /* max-width: 200px; */
      // margin: 0 auto;
      padding: 20px 16px 0 16px;
      width: 100%;

      a {
        text-decoration: none;
      }

      h4 {
        flex-basis: 80%;
        margin: 0 auto;
        text-align: center;
      }

      #login-title {
        flex-basis: 80%;
        padding-bottom: 24px;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        span {
          font-size: 1.5rem !important;
          color: gray;
        }
      }

      .input-box:focus-within {
        border: 1px dashed #ff8303;
      }

      .input-box {
        display: flex;
        align-items: center;
        flex-basis: 80%;
        margin: 10px 0;
        background: rgb(245, 245, 245);
        border: 1px dashed #a0a0a0;
        border-radius: 4px;
        padding-left: 0.5rem;
        overflow: hidden;
        font-family: sans-serif;

        .prefix {
          font-size: 14px;
          color: #aaaaaa;
          width: 30px;
          text-align: center;
        }

        input {
          flex-grow: 1;
          font-size: 16px;
          background: rgb(245, 245, 245);
          border: none;
          outline: none;
          width: 100%;
          padding: 0.5rem;
        }

        input:focus {
          outline: none !important;
          border: none;
        }
        
      }

      .form-warning {
        height: 30px;
        color: orangered;
      }
    }
  }

  .login-preview {
    transition: transform 0.3s ease-out;
    padding: 0;
    border-radius: 0 10px 10px 0;
    margin-left: -80px;
  }

  .login-preview img {
    overflow: hidden;
    height: 500px;
    border-radius: 0 10px 10px 0;
    object-fit: contain;
    background-color: white;
  }
}
