@import "../../../styles.scss";
@import "../../../font.scss";
@import "../../../color.scss";

:host {
  ::ng-deep {
    .app-no-data {
      max-height: calc(100vh - 173px);
    }
  }
  .gantt-chart {
    height: calc(100vh - 100px);
    background-color: $color-white;
    padding: 16px 16px 0 16px;
    .toolbar {
      padding-bottom: 24px;
    }
    .gantt-chart-container {
      overflow: auto !important;
      max-height: calc(100vh - 173px);
    }
  }
}