@import "../../../../styles.scss";
@import "../../../../color.scss";
@import "../../../../font.scss";

:host {
  .add-project-container {
    padding: 24px 24px 24px 24px;
    min-height: 400px;
    .header {
      height: 40px;
      .title {
        width: 100%;
        font-size: $font-title;
        font-weight: $font-weight-bold;
      }
      .close {
        i {
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border-radius: 50%;
          &:hover {
            background-color: $color-grey-10;
          }
        }
      }
    }
    .content-container {
      padding-top: 12px;
      .groupbox-item {
        padding-top: 8px;
        .groupbox-title {
          padding: 12px;
          position: relative;
          font-size: $font-subtitle;
          font-weight: $font-weight-medium;
          &::before {
            display: block;
            content: "";
            position: absolute;
            width: 2px;
            height: 22px;
            left: 0;
            background-color: $default-color-green;
          }
        }
        .field {
          padding-bottom: 12px;
          .title {
            padding-bottom: 12px;
          }
          .field-left {
            margin-right: 50px;
          }
        }
      }
    }
  }
  .feature {
    padding: 12px 24px;
    background-color: $color-grey-05;
    .button-seconds {
      margin-left: 12px;
    }
  }
}